In [1]:
import pandas as pd
import numpy as np
import re

path = "M183401.csv"
raw = pd.read_csv(path, header=None, dtype=str)
print(raw.shape)

(62, 26)

In [2]:
raw.head(20)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Theme: Economy & Prices,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Subject: Labour, Employment, Wages and Product...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Topic: Unemployment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Table Title: Average Resident Unemployment Rat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Data last updated: 30/07/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Source: MINISTRY OF MANPOWER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Per Cent
10,Data Series,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
11,Total,2.8,2.7,2.9,3.7,4.1,3.2,2.9,3.1,3,...,4.3,3.3,2.9,3.6,4.1,4.5,5.3,4.8,3.7,3.6
12,Sex: Male,2.8,2.7,2.8,3.4,3.9,3,2.9,3.1,2.9,...,4.1,3,2.8,3.4,3.9,4.5,5.1,4.8,3.9,3.9
13,Sex: Female,2.7,2.7,3,3.8,4.4,3.4,3,3.1,3,...,4.7,3.5,3.1,3.7,4.5,4.4,5.3,4.8,3.4,3.5
14,Age Group (Years): Below 30,5.6,5.3,4.7,5.7,7.5,5.9,5.2,5.5,5,...,6.7,5.2,4.5,5.4,6.2,6.7,7.3,6.6,5.1,4.6
15,Age Group (Years): 25 - 29,4.7,4.3,3.9,4.6,5.6,4.7,4.1,4.2,3.8,...,5,3.7,3,3.8,4.4,5.1,5.8,5,4.3,3.6
16,Age Group (Years): 30 - 39,2.1,2.1,2.3,2.6,2.9,2.2,2.2,2.3,2.3,...,3.6,2.6,2.4,3,3.1,3.5,4.5,3.9,3.1,3.1
17,Age Group (Years): 40 - 49,2.2,2.3,2.6,3.1,3.5,2.5,2.3,2.6,2.4,...,3.8,2.7,2.4,3,3.6,3.8,4.9,4.6,3.4,3.7
18,Age Group (Years): 50 & Over,2.5,2.4,2.8,3.4,3.8,2.9,2.6,2.8,2.7,...,3.9,2.9,2.9,3.4,4.1,4.3,4.5,4.4,3.5,3.4
19,Age Group (Years): 50 - 59,2.7,2.5,2.8,3.5,3.9,3,2.7,2.9,2.7,...,4,3.1,2.9,3.5,4.2,4.6,5,4.8,3.8,3.6

In [3]:
header_row = raw.iloc[10]
year_cols = []
col_indices = []

for idx, val in enumerate(header_row):
        s = str(val).strip()
        if re.fullmatch(r"(19|20)\d{2}", s):
            year_cols.append(s)
            col_indices.append(idx)

In [4]:
raw.tail(35)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
27,Highest Qualification Attained: Post-Secondary...,3.4,3.2,3.5,4.6,5,3.6,3.4,3.9,3.3,...,4.8,3.7,2.7,3.5,4.1,3.8,4.2,3.8,2.9,2.4
28,Highest Qualification Attained: Diploma & Prof...,3.1,2.8,3,4,4.6,3.3,3.1,3.2,3.1,...,3.9,2.8,2.9,3.2,3.2,4.2,4.7,4.1,3.4,2.4
29,Highest Qualification Attained: Degree,2.7,2.7,2.7,3.1,3.5,2.9,2.9,3.2,3.1,...,3.6,2.7,2.4,2.8,3.1,3.6,4.4,4.1,2.9,2.6
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Definitions and Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Data are based on Singapore Residents. Annual...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Total (Per Cent):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Data are used for SDG 8.5.2 'Unemployment rate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Sex: Male (Per Cent):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Data are used for SDG 8.5.2 'Unemployment rate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Sex: Female (Per Cent):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Data are used for SDG 8.5.2 'Unemployment rate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Age Group (Years): 25 & Over (Per Cent):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Data are used for SDG 8.5.2 'Unemployment rate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Age Group (Years): 15 - 24 (Per Cent):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Data are used for SDG 8.5.2 'Unemployment rate...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Highest Qualification Attained:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Highest Qualification Attained (HQA) refers to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Unemployment Rate:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Refer to the percentage of unemployed resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Notation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,na not available or not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,nec not elsewhere classified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,nes not elsewhere specified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,- nil or negligible or not significant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Numbers may not add up to the totals due to ro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Data are the latest available at the time of a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Values are shown in Singapore dollars (unless ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Generated by: SingStat Table Builder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Date generated: 05/10/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Contact: info@singstat.gov.sg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
all_data = []
current_age_group = None

for idx in range(10, 30):
    label = str(raw.iloc[idx, 0]).strip()
    if not label or label == "nan":
        continue

    age_group = None
    sex = None
    qualification = None

    if "Age Group (Years):" in label:
        age_group = label.replace("Age Group (Years):", "").strip()
        current_age_group = age_group
        sex = "Total"
        qualification = "Total"
    elif label.startswith("Sex:"):
        sex_value = label.replace("Sex:", "").strip()
        sex = "Males" if "Male" in sex_value and "Female" not in sex_value else "Females"
        age_group = current_age_group
        qualification = "Total"
    elif "Highest Qualification Attained:" in label:
        qualification = label.replace("Highest Qualification Attained:", "").strip()
        age_group = "Total"
        sex = "Total"
    elif label == "Total":
        age_group = "Total"
        sex = "Total"
        qualification = "Total"
    else:
        continue

    row_data = raw.iloc[idx]
    for year_idx, col_idx in enumerate(col_indices):
        value = row_data.iloc[col_idx] if col_idx < len(row_data) else np.nan
        
        value_str = str(value).strip()
        if value_str and value_str not in ['na', 'NA', '-', '']:
                
                    unemployment_rate = float(value_str)
                    all_data.append({
                        'Age Group': age_group,
                        'Sex': sex,
                        'Highest Qualification': qualification,
                        'Year': int(year_cols[year_idx]),
                        'Unemployment': unemployment_rate
                    })
                

full_df = pd.DataFrame(all_data)
print(full_df)

    Age Group    Sex Highest Qualification  Year  Unemployment
0       Total  Total                 Total  2024           2.8
1       Total  Total                 Total  2023           2.7
2       Total  Total                 Total  2022           2.9
3       Total  Total                 Total  2021           3.7
4       Total  Total                 Total  2020           4.1
..        ...    ...                   ...   ...           ...
470     Total  Total                Degree  2004           3.6
471     Total  Total                Degree  2003           4.4
472     Total  Total                Degree  2002           4.1
473     Total  Total                Degree  2001           2.9
474     Total  Total                Degree  2000           2.6

[475 rows x 5 columns]

In [6]:
# Generate File Classified by Age
df_age = full_df[
    (full_df['Sex'] == 'Total') &
    (full_df['Highest Qualification'] == 'Total')
].copy()

df_age = df_age[['Age Group', 'Year', 'Unemployment']].sort_values(['Year', 'Age Group']).reset_index(drop=True)

# Dataset Preview 
print(f"Shape: {df_age.shape[0]} rows × {df_age.shape[1]} columns")
print("\nFirst 5 rows:")
print(df_age.head())

# Save file
output1 = "unemployment_by_age.csv"
df_age.to_csv(output1, index=False)

Shape: 250 rows × 3 columns

First 5 rows:
   Age Group  Year  Unemployment
0    15 - 24  2000           5.9
1  25 & Over  2000           3.4
2    25 - 29  2000           3.6
3    30 - 39  2000           3.1
4    40 - 49  2000           3.7

In [7]:
# Generate File Classified by Qualification
df_qualification = full_df[
    (full_df['Age Group'] == 'Total') &
    (full_df['Sex'] == 'Total') &
    (full_df['Highest Qualification'] != 'Total')
].copy()

df_qualification = df_qualification[['Highest Qualification', 'Year', 'Unemployment']].sort_values(['Year', 'Highest Qualification']).reset_index(drop=True)

# Dataset Preview
print(f"Shape: {df_qualification.shape[0]} rows × {df_qualification.shape[1]} columns")
print("\nFirst 5 rows:")
print(df_qualification.head())

# Save file 
output2 = "unemployment_by_qualification.csv"
df_qualification.to_csv(output2, index=False)

Shape: 125 rows × 3 columns

First 5 rows:
                  Highest Qualification  Year  Unemployment
0                       Below Secondary  2000           5.2
1                                Degree  2000           2.6
2  Diploma & Professional Qualification  2000           2.4
3         Post-Secondary (Non-Tertiary)  2000           2.4
4                             Secondary  2000           3.6

In [8]:
# Generate File Classified by Gender
df_sex = full_df[
    (
        ((full_df['Age Group'] == 'Total') | (full_df['Age Group'] == '15 - 24')) &
        (full_df['Highest Qualification'] == 'Total') &
        (full_df['Sex'].isin(['Males', 'Females']))
    )
].copy()

df_sex["Category"] = df_sex["Age Group"].where(df_sex["Age Group"].eq("Total"), "15-24")
df_sex = df_sex[['Sex', 'Category', 'Year', 'Unemployment']].sort_values(['Year', 'Category', 'Sex']).reset_index(drop=True)

# dataset preview

print(f"Shape: {df_sex.shape[0]} rows × {df_sex.shape[1]} columns")
print("\nFirst 5 rows:")
print(df_sex.head())

# Save file 
output3 = "unemployment_by_sex.csv"
df_sex.to_csv(output3, index=False)

Shape: 50 rows × 4 columns

First 5 rows:
       Sex Category  Year  Unemployment
0  Females    15-24  2000           7.1
1    Males    15-24  2000           4.7
2  Females    15-24  2001           7.8
3    Males    15-24  2001           4.6
4  Females    15-24  2002          12.3